@font-face {
  font-family: 'DejaVuPixelLT';
  src: url('https://cdn.jsdelivr.net/gh/dejavu-fonts/dejavu-fonts-ttf@master/ttf/DejaVuSansMono.ttf') format('truetype');
}

.font-tiny, .font-regular, .font-ui_regular, body {
  font-family: 'DejaVuPixelLT', monospace;
}
